<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Read All</title>
</head>
<body>
    <div class="container justify-content-center w-50 p-2">
        <h1>All Users</h1>
        <table class="table table-success table-striped">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Created at</th>
            <th>Actions</th>
        </tr>
            {% for dict in users %} <!--this is iterating the users database-->
            <tr>
                <td>{{ dict['id']}}</td> <!-- prints first name at dict=0 -->
                <td>{{ dict['first_name'] }}</td>
                <td>{{ dict['last_name'] }}</td>
                <td>{{ dict['email'] }}</td>
                <td>{{ dict['created_at'] }}</td>
                <td><a href="/users/{{dict['id']}}">Show</a>|<a href="/users/{{dict['id']}}/edit">Edit</a>|<a href="/users/delete/{{dict['id']}}">Delete</a></td>
            </tr>
        {% endfor %}
        </table>
<a href="users/new">Add new user</a>
    </div>
</body>
</html>